body{
width: 100%;
}

.righticon{
	float: right;
}
.location{
	text-decoration: none;
	color: black;
}
.searchresults{
	width:100%;
	height: 300px;
	position: relative;
}
/* searchresults.html css */
.first_row{
	position: relative;
}
.second_row{
   position: absolute; 
   top: 200px; 
   left: 0;
   width: 100%; 
   height: 100px;
   background-color:black;
   border: 1px solid black;
   opacity: 0.8;
   filter: alpha(opacity=80);
   border-style: none;
}
.left{
	position: relative;
	padding-top: 2%;
}
.right{
	text-align: center;
	padding-top: 2%;
}
a{
	text-decoration: none;
}
.spa_name{
	margin-left: 5%;
	font-size: 20px;
	color: white;
	font-weight: bold;
}
.spa_location{
	margin-left: 5%;
	font-size: 16px;
	color: white;
}
.spa_rating{
	font-size: 20px;
	color: green;
	color: white;
}
.rating_text{
	color: lightgreen;
	font-size: 16px;
}
.image_span{
	width: 100%;
}

/* homecontent.css*/
.mycontent {
    background: url('../img/app_background.png');
    background-size: 100% 100%;
    text-align: center;
  }
 .scroll{
  height:100%;
 }
.homerow{
	width: 100%;
	height: 28%;
	text-align: center;
	color: white;
	font-size: 25px;
}
.homelook{
	padding-top: 3%;
}
.homemob{
	padding-top: 5.5%;
}
.col_common a{
	text-decoration: none;
	color: white;
}
.title-image{
	height: 33px;
	margin-right:10px;
}

/*side_menu css */
.profile_img{
	height: 230px;
}
.mysidemenu {
	padding: 20px;
	height: 100%;
}
.mysidemenu a{
	text-decoration: none;
	color: black;
}
.sidelink{
	font-size: 20px;
	padding: 11px;
	text-align: center;
}
.sidebottomlink{
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}
/*look and Book css */
.look_and_book_text{
	margin-top:60px;
	font-size:25px;
	font-weight: bold;
}
.lookContainer{
	margin-right: auto;
    margin-left: auto;
    width:250px;
}
.mylist{
	font-size: 20px;
	padding-top: 20px;
	display: block;
	background-color: white;
	width:250px; 
	height:50px; 
	margin-top:40px; 
}
.mylist a{
	text-decoration: none;
	color: black;
}
#search_button{
	border: 1px solid #8cd093;
	background-color: #8cd093;
	height:50px; 
	margin-top:20px;
}
.lookcontent {
    background: url('../img/Look_Wallpaper.png') no-repeat;
    background-size: 100% 60%;
    text-align: center;
    background-attachment: fixed;
    background-color: #eff1e6;
    background-position: bottom; 
  }
/*surpriseme.html css */
.surprisemecontainer{
    background: url('../img/No_offers.png');
    background-size: 100% 100%;
    text-align: center;
}
/* bookings.html css */
.mybookings{
	background: url('../img/no-booking.png');
    background-size: 100% 100%;
    text-align: center;
}
/* INFO.html css */
.image_layer{
	position: relative;
}
.infoimage{
	width:100%;
	height: 300px;
}
.addtofavorites{
	position: absolute;
	top:20px;
	right:0;
	margin-right: 20px;
}
.ion-heart{
	font-size: 45px;
	color: #ff4c6e;
}
.ion-heart-broken{
	font-size: 45px;
	color: white;
	opacity: 0.4;
   filter: alpha(opacity=40);
}
.layer{
   position: absolute; 
   top: 200px; 
   left: 0;
   width: 100%; 
   background-color:black;
   border: 1px solid black;
   opacity: 0.8;
   filter: alpha(opacity=80);
   border-style: none;
}
.left_layer{
	position: relative;
	float: left;
	width:50%;
	height: 100px;
	background-color: red;
	text-align: center;
	padding-top: 25px;
}
.right_layer{
	text-align: center;
	float: right;
	text-align: center;
	width:50%;
	height: 100px;
	background-color: #8cd093;
	padding-top: 25px;
}
.book_appointment{
	height: 200px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.book_appointment a{
	text-decoration: none;
	color: white;
}
.write_review{
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.write_review a{
	text-decoration: none;
	color: white;
}
.info_spaname{
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}
.info_open_close{
	text-align: center;
	margin-top: 30px;
}
.open{
  text-align: center;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: #8cd093;
	}
.close{
  text-align: center;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 15px;
  background-color: #ff4c6e;
	}
#info_title{
	padding: 15px;
	font-size: 25px;
	text-align: center;
}
.info_address_text{
	padding: 10px;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
}
.info_contacts_text{
	padding: 10px;
	text-align: center;
	font-size: 20px;	
}
#timings{
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

/* reviews.html css*/
.name_review{
	margin-left: 20px;
	height: 100px;	
}
.upper_review{
	text-align: left;
	height: 50px;
	font-size: 15px;
}
.bottom_review{
	text-align: left;
	height: 50px;
	font-size: 25px;
	overflow: auto;
}
.rating_col{
	text-align: center;
}
#review_rating{
	margin-left: 10px;
	margin-top: 30px;
	text-align: center;
	border:1px solid red;
	border-radius: 100%;
	background-color: #E6005C;
	color: white;
	width:30px;
	height:30px;
	padding: 2px;
	font-size: 20px;
}
.ion-close-circled{
	color:#fd9aaf;
}
/* menu.html css */
.menucard{
	height: 70px;
	padding-top: 15px;
	text-align: center;
	color: white;
	background-color: #8cd093;
	font-size: 20px;
}
.menuitem{
	height: 70px;
	padding-left: 20px;
	text-align: left;
	font-size: 12px;
}
.item{
	white-space: normal;
}
.menuitemname{
	padding-top: 20px;
	height: auto;
}
.facility_info{
	text-align: center;
	font-size: 20px;
}
.menufooter{
	height: 60px;
}
.alwaysvisible{
	width: 100%;
	padding-top: 15px;
    text-align: center;
    font-size: 50px;
    cursor:pointer;
}
.alwaysvisible a{
	text-decoration: none;
	color: white;
}
.plusicon{
	padding-left: 50px;

}
#plusicon{
	margin-top: 20px;
	cursor:pointer;
}
.ion-checkmark-circled{
	color: #8cd093;
	font-size: 25px;
}
.ion-plus-circled{
	font-size: 20px;
}
/*gallery.html css */
.searchresults_gallery{
	width:100%;
	height: 300px;
	position: relative;
	top: -5px;
margin-bottom: -5px;
}
/* writereview.html css */
.writereview_div{
	text-align: center;
}
.review_button{
	width:160px;
	height: 40px;
	font-size: 20px;
	padding:5px;
	margin-top: 30px;
	background-color: #8cd093;
	border: 1px solid #8cd093;
	color: white;
}
#write_your_review{
	text-align: center;
}
.rating .filled {
  color: #21568b;
}
/* random css */
.headertab{
	height: 40px;
	width: 100%;
}
.mytab{
	text-align: center;
	padding: 12px;
	position: relative;
	height: 45px;
	color:white;
	background-color: grey;
	font-weight: bold;
}
.mytab a{
	text-decoration: none;
	color: white;
}
/* myreviews.html css */
.reviewcol{
	padding:10px;
}
.reviewspaname{
	font-weight: bold;
	font-size: 20px;
}
.reviewsparemarks{
	font-size: 12px;
}
/*mybooking css */
.bookingtime{
	font-weight: bold;
	font-size: 12px;
	color:#8cd093;
}
/*appdetails css */
.cancel{
	text-align: center;
	color: white;
	background-color: #eb0e45;
}
.rebook{
	text-align: center;
	color: white;
	background-color: #8cd093;
}
.cancel-rebook{
   position: absolute; 
   top: 200px; 
   left: 0;
   width: 100%; 
   height: 100px;
   border: 1px solid black;
   opacity: 0.8;
   filter: alpha(opacity=80);
   border-style: none;
}
.date{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 20px;
}
.detail{
	padding: 20px;
	text-align: center;
	font-size: 20px;
}
/* menudate css */
.datepick{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
.app_date{
	border: 1px solid grey;
	width: 250px;
	height: 100px;
}
.nextbtn{
	background-color: #8cd093;
	height:40px; 
	width:80px;
	margin-top:20px;
	text-align: center;
	padding-top: 10px;
	cursor: pointer;
}
.calendar{
	text-align: center;
	margin-left:auto;
	margin-right: auto;
}
.enterdate{
	text-align: center;
}
/* confirm css */
.detailsbtn{
	width:80%;
	margin-top: 30px;
	background-color: #13182e;
	border:1px solid #13182e;
	height: 25px;
}
.confirmbtn{
	width:80%;
	margin-top: 30px;
	background-color: #eb0e45;
	border: 1px solid #eb0e45;
	height: 40px;
}
.summary{
	text-align: center;
}
/* other css */
.nav_button{
	cursor: pointer;
	padding-top: 9px;
	padding-left: 5px;
}
.star-rating{
	cursor: pointer;
}
