
      <ion-side-menus>  
        <ion-pane ion-side-menu-content>
          <ion-nav-bar class="bar-dark nav-title-slide-ios7">
          </ion-nav-bar>
          <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-pane> 
        
        <ion-side-menu class="disabled" side="left" style="background-color:#eff1e6;">
          <ion-content class="mysidemenu">
              <div class="sidelink"><a href="#">PROFILE</a><br/></div>
              <div class="profilepic"><a href="#"> <img src="img/profile.png" class="profile_img"/></a><br/></div>
              <div class="sidelink"><a href="#"><b>shivam gupta</b></a><br/></div>
              <div class="sidelink"><a href="#/event/home/homecontent">HOME</a><br/></div>
              <div class="sidelink"><a href="#/event/home/myreviews">MY REVIEWS</a><br/></div>
              <div class="sidelink"><a href="#/event/home/myfavorites">My FAVORITES</a><br/></div>
              <div class="sidelink"><a href="#/event/home/editprofile">EDIT PROFILE</a><br/></div>
              <div class="sidelink"><a href="#/event/home/logout">LOGOUT</a><br/></div>
              <div class="sidebottomlink"><a href="#/event/home/terms_and_conditions">Terms and Conditions</a><br/></div>
              <div class="sidebottomlink"><a href="#/event/home/privacy">Privacy</a><br/></div>
              <div class="sidebotomlink"><a href="#">2014 rvan Software Solutions Pvt Ltd</a><br/></div>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>