
      <ion-side-menus>  
        <ion-pane ion-side-menu-content>
          <ion-nav-bar class="bar-dark nav-title-slide-ios7">
          <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
          </ion-nav-bar>
          <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
        </ion-pane> 
        
        <ion-side-menu side="left">
          <ion-content >
            <ul class="list">
              <a href="#" class="item">PROFILE</a>
              <a href="#"> <img src="img/profile.jpg" class="profile_img"/></a>
              <a href="#" class="item">shivam gupta</a>
              <a href="#/event/home/homecontent" class="item">HOME</a>
              <a href="#/event/home/home1" class="item">MY REVIEWS</a>      
              <a href="#/event/home/home2" class="item">EDIT PROFILE</a>
              <a href="#" class="item">LOGOUT</a>
              <a href="#" class="item">Terms and Conditions</a>
              <a href="#" class="item">Privacy</a>
              <a href="#" class="item">2014 rvan Software Solutions Pvt Ltd</a>
            </ul>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>