      <ion-content has-header="true">
        <div class="mycontent" style="height:100%;padding-top:90px;">
          <div class="row homerow homelook">
              <div class="col col_common">
                <a href="#/event2/look_and_book">LOOK & BOOK</a>
              </div>
          </div>
          <hr width="80%"/>
          <div class="row homerow">
              <div class="col col_common homemob">
                <a href="#/event2/surpriseme">SURPRISE ME</a>
              </div>
          </div>
          <hr width="80%"/>
          <div class="row homerow">
              <div class="col col_common homemob">
                <a href="#/event2/bookings">MY BOOKINGS</a>
              </div>
          </div>
        </div>
      </ion-content>