	<ion-view title="{{ names.name }}">
       <ion-tabs class="tabs-top tabs-dark">

        <ion-tab title="INFO" href="#/event/searchresults_clicked/info">
          <ion-nav-view name="info-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="MENU" href="#/event/searchresults_clicked/menu">
          <ion-nav-view name="menu-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="GALLERY" href="#/event/searchresults_clicked/gallery">
          <ion-nav-view name="gallery-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="REVIEWS" href="#/event/searchresults_clicked/reviews">
          <ion-nav-view name="reviews-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </ion-view>