    <ion-view title="Services">
      <ion-nav-buttons side="left">
      <span ng-click="navigatelook()" class="nav_button"><i class="icon ion-chevron-left"></i></span>
      </ion-nav-buttons>
      <ion-content>
        <div ng-app="" ng-init="services = [
             {service:'all',parent:'all'},
             {service:'Body',parent:'994'},
             {service:'Classes',parent:'8042'},
             {service:'Face',parent:'983'},
             {service:'Hair',parent:'974'},
             {service:'Hair Removal',parent:'987'},
             {service:'Massage',parent:'978'},
             {service:'Membership',parent:''},
             {service:'Nails',parent:'990'},
             {service:'Skin',parent:'997'},
             {service:'Specials & Combos',parent:'978'}
            ]" >   
                 <div class="list list-inset">
                 <label class="item item-input">
                     <i class="icon ion-search placeholder-icon"></i>
                     <input type="text" placeholder="Search by service..." ng-model="servicesFilter">
                  </label>
                 </div>  
                 <div class="list">
                      <a class="item" ng-click='setservice(x.service);setparent(x.parent)' href="#/event2/look_and_book"  ng-repeat="x in services|filter:servicesFilter" id="{{x.service}}">
                        {{ x.service }}
                      </a>
                  </div>
          </div>
      </ion-content>
    </ion-view>